body {
    background-image: url("images/background1.png");
}
p,h1,h2,h3,h4,h5,h6,li {
    color:#8ffe09;
    margin-left: 20px;
}
.title-image {
    img { 
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}
a {
    color:white;
    margin-left: 20px;
}
.marquee {
    color:#8ffe09;
    font-size: 22px;
}
::-moz-selection { /* Code for Firefox */
    color: #880808;
    background: black;
  }
  
  ::selection {
    color: #880808;
    background: black;
  }
.flex-container-1 {
    display: flex;
}
.flex-container-1 div {
    background-image: url("images/background2.png");
    border: 10px black;
    height: 100px;
    margin: 5px;
    flex: 1;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 

obviously needs to be reworked to not be shit

important colors here are ACID GREEN #8ffe09 and BLOOD RED #880808

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */