body {
    background-image: url("images/background1.png");
}

p, h1, h2, h3, h4, h5, h6, li {
    color: white;
    margin-left: 20px;
}

.title-image {
    img { 
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

a {
    color:#8ffe09;
    margin-left: 20px;
}

.marquee {
    color:#8ffe09;
    font-size: 22px;
}

::-moz-selection {
    color: #880808;
    background: black;
}

::selection {
    color: #880808;
    background: black;
}

.flex-container-1 {
    display: flex;
}

.sidebar, .intro, .image-container, .rant {
    background-image: url("images/background2.png");
    border: 2px inset #8ffe09;
    font-size: 18px;
    line-height: 175%;
}

.sidebar {
    flex: 1;
    margin-left: 200px;
    margin-right: 30px;
}

.main-content {
    flex: 5 0 0%;
    margin-right: 200px;
}

.bottom-main-container {
    display: flex;
    margin-top: 10px;
}

.image-container {
    flex: 1;
    margin-right: 30px;
}

.rant {
    flex: 5 0 0%;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 

important colors here are ACID GREEN #8ffe09 and BLOOD RED #880808

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */